<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<title>Webscrapper</title>
</head>
<body>
	<script src="js/hubLoginActions.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<main>
	<div class="container-fluid">
		<div class="row" id="infoBg">
			<div class="col-lg-9">
				<h1 class="titleHeading"><img class="img-fluid" id="location" src="img/location.png" width="80px" height="80px"><span>Placeholder</span>Front End</h1>
				<div class="row white"></div>
				<br>
				<h1> Enter your keyword below: </h1>
				<form action="/result" method="post">
                    <input type="text" placeholder="Product keyword" name="keyword">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <br>
                <h1>Results from Newegg: </h1>
                

				<% if(keyword != null){ %>
				<h1>Your result is <%= keyword %></h1>
				<% } %>
				
				<br>
				

			</div>
			<div>
				<p>
				<% if(productNames != null){ %>
              	<% for(var i=0; i < productNames.length; i++) { %> </p>
              		 <div>
              			<img src="<%= imgUrls[i] %>">
              		 </div>
              		<div>
	              		 <%= productNames[i] %>
	              		 <br>
	              		 <%= productPrices[i] %>
              		</div>
              	<% } %>
              	<% } %>
			</div>	
			<div>
				<p>
			</div>
		</div>
	</div>
</main>
</body>
</html>